page,.page{
	background-color: #ededed;
	/* #ifndef APP-PLUS-NVUE */
	min-height: 100%;
	height: auto;
	/* #endif */
	/* #ifdef APP-PLUS-NVUE */
	flex: 1;
	/* #endif */ 
}

view,text{
	box-sizing: border-box;
}

/* scroll-view */
.scroll-row{ width: 100%;white-space: nowrap;overflow-x: auto; }
.scroll-row-item{ display: inline-block; }

.content-bg-color{
	background-color: #f5f6f7;
}

/* 设置主色调字体背景边框等  16c140 */
.main-bg-color{
	/* background-color: #dc2609; */
	background-color: #0ad161;
}
.main-border-color{
	border-color: #0ad161;
}
.main-text-color{
	color: #0ad161;
}
.sec-bg-color{
	background-color: #ff5000;
}
.sec-text-color{
	color: #ff5000;
}
.sec-border-color{
	border-color: #ff5000;
}
.button-circle{
	height: 70rpx;
	border-radius: 35rpx;
}

.common-text-light{
	color: #999;
}
.common-text-muted{
	color: #666;
}
.common-text-dark{
	color: #333;
}
.red-star{
	color: #dd524d;
}